/* .avatar-uploader {
  border: 1px solid red;
} */
.preview__wrapper {
  position: relative;
}
.delete__preview {
  position: absolute;
  bottom: 0;
  right: 10px;
  color: red;
  font-size: 20px;
}
.upload__button {
  border: 1px dashed #d9d9d9;

  background-color: rgba(0, 0, 0, 0.02);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
