.like_btn {
  height: 34px !important;
  background: #ffffff;
  border: 2px solid #e9e9e9 !important;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25) !important;
}
.icon_box {
  border: none !important;
}
.socialMediaButton {
  border: none !important;
}
